
$background_color: rgb(220, 233, 239);
$primary_color: rgb(32, 32, 96);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./buttons";

body {
  background: $background_color;

}



#form-container {
margin-top: 30px;
padding: 20px;
  max-width: 60%;
  border: 1px solid $primary_color;
  border-radius: 20px;
  background: white;
}

#form-title {
  margin-top: 100px;
  text-align: center;
}

#form-link {
  color: $primary_color;
  
}

