
$background_color: rgb(220, 233, 239);
$primary_color: rgb(32, 32, 96);

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./buttons";

body {
  background: $background_color;

}

// Sign in and register page



#form-container {
margin-top: 30px;
padding: 20px;
  max-width: 60%;
  border: 1px solid $primary_color;
  border-radius: 20px;
  background: white;
}

#form-title {
  margin-top: 100px;
  text-align: center;
}

#form-link {
  color: $primary_color;
  
}



// Profile page

#profile-info {
  display: flex;
  margin-left: 20px;
  
  margin-top: 50px;


}

#profile-ul {
  list-style-type: none;
  color: $primary_color;
}

#profile-title {
  font-size: larger;
  font-weight: bolder;
}

#profile-img {
  object-fit: cover;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

#hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid $primary_color;
}



// cards for feed and profile page

#card-row {
  justify-content: center;
  
}


.card {
  width: 18rem;
  margin: 20px;
}

#title-h1 {
  text-align: center;
  color: $primary_color;

}
